{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Fund Riser!</h1>
    <p class="lead">Connect with causes, manage campaigns, and make a difference.</p>
    <hr class="my-4">
    <p>Join us to support various initiatives or manage your own fundraising efforts.</p>
    <p class="lead mt-4">
    <a class="btn btn-lg me-3" style="background-color: #15803D; border-color: #15803D; color: white;" href="{% url 'register' %}" role="button">Register Now</a>
    <a class="btn btn-lg me-3" style="background-color: #c70e0eff; border-color: #cf1a1aff; color: white;" href="{% url 'login' %}" role="button">Login</a>
</p>
</div>
{% endblock %}